<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="#productos">Jota Diseños</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#menu">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="menu">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item"><a class="nav-link" href="#productos">Productos</a></li>
        <li class="nav-item"><a class="nav-link" href="./contacto.html">Contacto</a></li>
        <li class="nav-item">
          <a class="nav-link" href="#" onclick="mostrarCarrito()">🛒 Carrito (<span id="carritoCantidad">0</span>)</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
